/* CLASSI RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************** TOP CONTENT ********************/
#top-content {
  display: flex;
}
/* CASSI NAVBAR */
.sidebar {
  background-color: #000000;
  width: 300px;
  color: #6b6b6b;
  display: flex;
}
.container {
  flex-direction: column;
  height: calc(100vh - 100px);
}
/* CASSI MAIN CONTENT */
.main-content {
  height: calc(100vh - 100px);
  width: calc(100% - 300px);
  background-color: #141922;
  display: flex;
}
header {
  height: 100px;
  background-color: #080b12;
  width: 100%;
}
/* CASSI FOOTER */
footer {
  background-color: #282828;
  height: 100px;
}
.container-footer {
  display: flex;

  margin: 0 20px;
}
/* CASSI FOOTER LEFT */

#footer-left {
  display: flex;
  align-items: center;
  height: 100px;
  width: calc(100% / 3);
  gap: 20px;
  color: gray;
}
.img-footer {
  width: 50px;
  display: flex;
}
#footer-left h4 {
  color: white;
}
.footer-icons i {
  margin: 0 10px;
}
/* CASSI FOOTER CENTER */

#footer-center {
  height: 100px;
  width: calc(100% / 3);
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center-up {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  align-items: center;
}
.play {
  font-size: 2rem;
}
.center-up > * {
  margin: 0 10px;
}

.center-down {
  color: white;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-down > * {
  margin: 0 10px;
  font-size: 0.7rem;
}

.time-bar {
  height: 2px;
  width: 300px;
  background-color: gray;
}

.min {
  height: 2px;
  width: 100px;
  background-color: white;
}
/* CASSI FOOTER RIGHT */
#footer-right {
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  width: calc(100% / 3);
  height: 100px;
  gap: 20px;
}

.time-bar-small {
  height: 2px;
  width: 100px;
  background-color: gray;
}

.min-small {
  height: 2px;
  width: 33px;
  background-color: white;
}

/* CLASSI RESPONSIVE */
/* TABLET */
@media screen and (max-width: 991px) {
  .container-footer {
    font-size: 0.7rem;
  }
}
