/* CLASSI RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lime;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lime;
}

/******************** TOP CONTENT ********************/
#top-content {
  display: flex;
}
/* CASSI NAVBAR */
.sidebar {
  background-color: #000000;
  width: 300px;
  color: #6b6b6b;
  display: flex;
  height: calc(100vh - 100px);
}
.container-sidebar {
  flex-direction: column;
  display: flex;
  padding: 20px;
  height: 100%;
}
.container-sidebar-media {
  flex-direction: column;
  display: flex;
  padding: 10px;
  height: 100%;
  width: 150px;
  align-items: center;
  display: none;
}
.logo {
  width: 150px;
}
.container-sidebar-media img {
  width: 30px;
}
.home {
  color: white;
}

.one-up {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.one-mid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.one-mid > h5 {
  color: white;
}
.one-mid > div > i {
  color: gray;
  font-size: 2rem;
}
.playlist {
  display: flex;
  align-items: center;
  gap: 15px;
}
.one-low {
  overflow: auto;
}

.one-low ul {
  list-style: none;
  margin: 10px 0;
}
.one-low li {
  margin: 15px 0;
}
.last-one {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.doe {
  font-size: 1.5rem;
}
.side-foot > * {
  margin: 5px 0;
}

.last-one > span:last-child {
  color: white;
}
/* CASSI MAIN CONTENT */
.main-content {
  height: calc(100vh - 100px);
  width: calc(100% - 300px);
  background-color: #141922;
  display: flex;
  flex-direction: column;
}
.container-categorie {
  color: gray;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;

  font-weight: bolder;
}
.categorie {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  width: calc(100% / 6);
  white-space: nowrap;
  font-size: 0.7rem;
}

.small-bar {
  width: 50%;
  height: 2px;
  background-color: lime;
  /* display: none; */
}
/* .categorie:hover + {
  display: block;
} */
/* CASSI ALBUMS */
.container-album {
  width: 100%;
  padding: 0 1rem;
  overflow: auto;
}
.container-album > h2 {
  color: white;
  margin: 2% 0;
}
.row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: calc(100% / 6);
}
.album-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.album-card > h4 {
  color: white;
}
.album-card > span {
  color: gray;
}
.container-album > img {
  width: 100%;
}

.info {
  color: gray;
  font-weight: bold;
}
.circle-pic > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.circle-pic {
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
/* CASSI HEADER */
header {
  height: 100px;
  background-color: rgba(8, 11, 18, 0.5);
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
}
.container-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.upgrade-button {
  padding: 10px 25px;
  border: solid white;
  color: white;
  border-radius: 15px;
}
/* CASSI FOOTER */
footer {
  background-color: #282828;
  height: 100px;
}
.container-footer {
  display: flex;

  margin: 0 20px;
}
/* CASSI FOOTER LEFT */

#footer-left {
  display: flex;
  align-items: center;
  height: 100px;
  width: calc(100% / 3);
  gap: 15px;
  color: gray;
}
.img-footer {
  width: 50px;
  display: flex;
}
#footer-left h4 {
  color: white;
}
.footer-icons i {
  margin: 0 10px;
}
/* CASSI FOOTER CENTER */

#footer-center {
  height: 100px;
  width: calc(100% / 3);
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center-up {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  align-items: center;
}

.center-up > * {
  margin: 0 10px;
}

.center-down {
  color: white;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-down > * {
  margin: 0 10px;
  font-size: 0.7rem;
}

.time-bar {
  height: 2px;
  width: 300px;
  background-color: gray;
}

.min {
  height: 2px;
  width: 100px;
  background-color: white;
}
/* CASSI FOOTER RIGHT */
#footer-right {
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  width: calc(100% / 3);
  height: 100px;
  gap: 20px;
}

.time-bar-small {
  height: 2px;
  width: 100px;
  background-color: gray;
}

.min-small {
  height: 2px;
  width: 33px;
  background-color: white;
}

/* CLASSI RESPONSIVE */
/*************** TABLET *******************/
/****** FOOTER ********/

/* SIZE - M (TABLET)  */
@media screen and (max-width: 991px) {
  .container-footer {
    font-size: 0.7rem;
  }
  .col {
    width: calc(100% / 4);
  }
  .categorie {
    width: calc(100% / 5);
    font-size: 0.6rem;
  }
}
/* SIZE - S  */
@media screen and (max-width: 767px) {
  .footer-icons {
    display: flex;
    flex-direction: column;
  }
  #footer-center > * {
    font-size: 0.9rem;
  }
  .col {
    width: calc(100% / 2);
  }
  .categorie {
    width: calc(100% / 3);
  }
}
/* SIZE - xS  */
@media screen and (max-width: 576px) {
  .song-name {
    display: flex;
    flex-direction: column;
  }
  .container-footer > * {
    font-size: 0.5rem;
  }
  #footer-center > * {
    font-size: 0.8rem;
  }
  .sidebar {
    width: 50px;
  }
  .container-sidebar {
    display: none;
  }
  .container-sidebar-media {
    display: flex;
  }
  .side-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .one-up {
    align-items: center;
  }
  .categorie {
    width: calc(100% / 4);
    font-size: 0.6rem;
  }
  .main-content {
    height: calc(100vh - 100px);
    width: calc(100% - 50px);
  }
}
